.user-options {
	margin-left: auto;
	z-index: 2;

	a {
		position: relative;
		margin: 0 1.5rem 0 0;
		padding: 1.2rem .6rem 1.2rem .6rem;
		text-decoration: none;
		cursor: pointer;

		// &:hover {
		// 	color: $color_main-b;
		// }

		// &:hover:before {
		// 	transform: translateY(-0.9rem) translateX(3px);
		// }

		&:last-child {
			margin-right: 0;
		}


	}
}

.user-options__cabinet {
	padding-left: 3.2rem !important;

	&::before {
		@include pseudo;

		left: 0;
		top: 50%;
		transform: translateY(-12px);

		width: 17px;
		height: 20px;

		background-image: url(/img/icons/i-log-in.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: contain;

	}
}

// .user-options__callback::before {
// 	background-image: url(/img/icons/phone.png);
// }
.user-options__sign-up {
	font-style: italic;
	
	&::before {
		background-image: url(/img/icons/phone.png);
	}
}