
.logo {
	display: inline-block;
	flex: 0 1 35rem;
	height: 7.5rem;
	margin: 0 3rem 0 0;
	text-decoration: none;
	
	background-repeat: no-repeat;
	background-position: 50% 50%;

	transition: 100ms;
	background-image: url(/img/logo.png); 
	@include bg-contain;
}

