.location {
	position: relative;
	color: #000;
	font-weight: 600;
	padding: 0 0 0 2.8rem;
	margin: 0 3.7rem 0 0;


}

.location__city {
	position: relative;
	margin: 0 0 10px 0;
	padding: 0 2rem 0 0;
	font-size: 1.5rem;

	&:after {
		@include pseudo;
		right: 0;
		top: 46%;
		transform: translateY(-50%) rotate(45deg);
		width: .7rem;
		height: .7rem;
		background: transparent;
		border-bottom: 2px solid $color_main;
		border-right: 2px solid $color_main;
	}
}

.location__additional {

	color: #888888;
	font-size: 13px;
	font-style: italic;
	font-weight: 300;
}